<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="okr"></div>
    {% raw %}
    <script type="template" id="template">
            {{#okr}}
                <div>
                    {{action}}
                </div>    
            {{/okr}}            
    </script>
    {% endraw %}

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://cdn.bootcss.com/mustache.js/2.3.0/mustache.min.js"></script>

    <script>
        var $t = $('#template');
        var tContent = $t.text();
        $.get('/api/homepage', function (res) {
            var html = Mustache.render(tContent, res);
            console.log(html);
            $('#okr').append(html);
        })

    </script>
</body>

</html> -->